*{
    margin: 1rem;
}

/*header*/
header{
    display: flex;
    align-items: center;
    justify-content:left;
}
.bambi{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-links{
    display: flex;
    margin-left: 15rem;
}
.about, .works{
    margin-right: 3.2rem;   
}

.side-by-side{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    border: solid whitesmoke;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
    box-shadow: 0 0px 10px purple;
}
/*texts*/
.text{
    margin-top: 3.2rem;
}

h3{
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}
h2{
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.p1, ul, .p2, .p3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p1, ul, h3, h2, .p2, .p3{
    color: purple;
}

.p2, .p3{
    margin-top: 2rem;
}

.fa-square-x-twitter, .fa-square-instagram, .fa-linkedin, .fa-square-whatsapp{
    font-size: 2rem;
    
}

.fa-square-x-twitter{
    color: black;
}

.fa-square-instagram{
    color: crimson;
}

.fa-linkedin{
    color: blue;
}

.fa-square-whatsapp{
    color: forestgreen;
}

footer{
    background-color: wheat;
    text-align: center;
    margin: 2rem 0 0 0;
    max-width: 100%;
}